.dark {
    color:#fff;
    background-color:#343a40;
    border-color:#343a40;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    text-align: center;
    line-height:1.5;
    border-radius:.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dark:hover{
    color:#fff;
    background-color:#23272b;
    border-color:#1d2124;
    text-decoration:none;
}

.dark.focus,.dark:focus {
    color:#fff;
    background-color:#23272b;
    border-color:#1d2124;
    box-shadow:0 0 0 .2rem rgba(82,88,93,.5);
}

.dark.disabled, .dark:disabled {
    color:#fff;
    background-color:#343a40;
    border-color:#343a40;
}

.dark:not(:disabled):not(.disabled).active,.dark:not(:disabled):not(.disabled):active,.show>.dark.dropdown-toggle {
    color:#fff;
    background-color:#1d2124;
    border-color:#171a1d;
}

.dark.focus, .dark:focus, .dark:not(:disabled):not(.disabled).active:focus,.dark:not(:disabled):not(.disabled):active:focus,.show>.dark.dropdown-toggle:focus {
    box-shadow:0 0 0 .2rem rgba(82,88,93,.5);
    outline:0;
}
